In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [50]:
# Option 1: Using pandas display options
pd.options.display.float_format = '{:.6f}'.format  # Display up to 6 decimal places

Importar la base de datos

In [ ]:
data_raw = pd.read_parquet('/content/Data_Ca_Mama.parquet')
data_raw.head()

,Afiliado_Id,Ind_Mayoria_Licor,Ind_Frecuencia_Licor,Sexo_Cd,Raza_Desc,Valor_IMC,Num_Edad_Menopausia,Num_Edad_Menarca,Ind_Terapia_Hormonal,Num_Birads,Ind_Ooforectomia_Bilateral,Num_Fam_Primer_Grado_Otros,Num_Fam_Segundo_Grado_Otros,Ind_Ant_Fam_Otros,Num_Fam_Primer_Grado_CAM,Num_Fam_Segundo_Grado_CAM,Ind_Ant_Fam_CAM,Ind_Ant_Radio_Torax,Edad,Ind_CAM
0,6915312.000000,None,None,F,SIN INFORMACION DESDE LA FUENTE,29.010000,NaN,13.000000,No,None,No,0.000000,0.000000,No,0.000000,0.000000,No,No,34.000000,No
1,1520483.000000,None,None,F,MESTIZO,NaN,NaN,14.000000,No,None,No,0.000000,0.000000,No,0.000000,0.000000,No,No,40.000000,No
2,10964151.000000,Si,Si,F,SIN INFORMACION DESDE LA FUENTE,33.010000,NaN,NaN,No,None,No,0.000000,0.000000,No,0.000000,0.000000,No,Si,41.000000,No
3,10814984.000000,No,No,F,SIN INFORMACION DESDE LA FUENTE,23.340000,NaN,NaN,No,None,No,0.000000,0.000000,No,0.000000,0.000000,No,No,25.000000,No
4,1301025.000000,No,No,F,MESTIZO,24.670000,NaN,9.000000,No,1,No,0.000000,0.000000,No,0.000000,0.000000,No,No,61.000000,No

In [ ]:
# Revisar las variables que están en el DataFrame
data_raw.columns

Index(['Afiliado_Id', 'Ind_Mayoria_Licor', 'Ind_Frecuencia_Licor', 'Sexo_Cd',
       'Raza_Desc', 'Valor_IMC', 'Num_Edad_Menopausia', 'Num_Edad_Menarca',
       'Ind_Terapia_Hormonal', 'Num_Birads', 'Ind_Ooforectomia_Bilateral',
       'Num_Fam_Primer_Grado_Otros', 'Num_Fam_Segundo_Grado_Otros',
       'Ind_Ant_Fam_Otros', 'Num_Fam_Primer_Grado_CAM',
       'Num_Fam_Segundo_Grado_CAM', 'Ind_Ant_Fam_CAM', 'Ind_Ant_Radio_Torax',
       'Edad', 'Ind_CAM'],
      dtype='object')

In [ ]:
# Revisión general del tipo de datos
data_raw.dtypes

Afiliado_Id                    float64
Ind_Mayoria_Licor               object
Ind_Frecuencia_Licor            object
Sexo_Cd                         object
Raza_Desc                       object
Valor_IMC                      float64
Num_Edad_Menopausia            float64
Num_Edad_Menarca               float64
Ind_Terapia_Hormonal            object
Num_Birads                      object
Ind_Ooforectomia_Bilateral      object
Num_Fam_Primer_Grado_Otros     float64
Num_Fam_Segundo_Grado_Otros    float64
Ind_Ant_Fam_Otros               object
Num_Fam_Primer_Grado_CAM       float64
Num_Fam_Segundo_Grado_CAM      float64
Ind_Ant_Fam_CAM                 object
Ind_Ant_Radio_Torax             object
Edad                           float64
Ind_CAM                         object
dtype: object

Se verifica que no hay columnas mal nombradas y que los tipos de datos son correctos.

In [ ]:
# Contar el número de filas duplicadas
num_duplicated = data_raw.duplicated().sum()
print(f"Número de filas duplicadas: {num_duplicated}")

Número de filas duplicadas: 66

In [ ]:
# Eliminar registros duplicados
data_raw = data_raw.drop_duplicates()

In [51]:
# Calcular el porcentaje de valores faltantes por columna
missing_percentage = data_raw.isnull().mean() * 100
print('Porcentaje de valores faltantes por columna:')
missing_percentage[missing_percentage > 0]

Porcentaje de valores faltantes por columna:

Ind_Mayoria_Licor      33.812876
Ind_Frecuencia_Licor   33.812876
Valor_IMC              11.055957
Num_Edad_Menopausia    98.576075
Num_Edad_Menarca       59.428238
Num_Birads             77.865304
dtype: float64

In [ ]:
data_raw.Edad.describe()

count   2190213.000000
mean         43.159533
std          16.741093
min          18.000000
25%          29.000000
50%          40.000000
75%          55.000000
max         139.000000
Name: Edad, dtype: float64

Se puede apreciar que 98,58% de los registros de la variable edad de menopausia se encuentra vacío. Sin embargo, dado que el 75% de las mujeres en el dataset tienen una edad igual o inferior a los 55 años, el registro es coherente ya que la menopausia es un proceso natural que suele ocurrir entre los 45 y 55 años de edad, aunque la edad promedio es de 51 años.

In [ ]:
data_raw[data_raw.loc[:,'Num_Edad_Menopausia'].notna()].Edad.describe()

count   31187.000000
mean       74.727771
std         8.399593
min        38.000000
25%        69.000000
50%        74.000000
75%        80.000000
max       107.000000
Name: Edad, dtype: float64

In [ ]:
data_raw[data_raw.loc[:,'Num_Edad_Menopausia'].notna()].Num_Edad_Menopausia.describe()

count   31187.000000
mean       47.651874
std         4.585470
min        36.000000
25%        45.000000
50%        48.000000
75%        51.000000
max        57.000000
Name: Num_Edad_Menopausia, dtype: float64